body {
    font-family: sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    color: rgb(70, 70, 70);
}

.top-bar {
    display: flex;
    background: rgb(227, 227, 227);
    justify-content: flex-end;
    padding-top: -100px;
    padding-bottom: 20px;
    margin-top: -10px;
    margin-bottom: -30px;
    height: 50px;
    
}

#aboutme-topbar {
    font-family: sans-serif;
    text-decoration: none;
    padding-right: 10px;
    color: rgb(198,0,33);
}

#projects-topbar {
    font-family: sans-serif;
    text-decoration: none;
    padding-right: 10px;
    color: rgb(198,0,33);
}

#contactme-topbar {
    font-family: sans-serif;
    text-decoration: none;
    padding-right: 10px;
    color: rgb(198,0,33);
}

.title {
    background: rgb(227, 227, 227);
    display: flex;
    
 
}

.title1 {
    background: rgb(227, 227, 227);
    text-align: center;
}

.title2 {
    text-align: center;
}

.title3 {
    background: rgb(227, 227, 227);
    text-align: center;
    width: 400px;
}

.professional-links {
    background: rgb(227, 227, 227);;
    justify-content: space-around;
    background: cadetblue;

}

.link1 {
    border: 2px solid black ;
    height: 50px;
    padding: 5px 5px 5px 5px;
    background: rgb(227, 227, 227);
    text-decoration: none;
    color: rgb(198,0,33);

}

.link1:hover {
    background-color: rgb(198,0,33);
    color: black;

}

.link2 {
    border: 2px solid black ;
    height: 50px;
    padding: 5px 5px 5px 5px;
    background: rgb(227, 227, 227);
    text-decoration: none;
    color: rgb(198,0,33);

}


.link2:hover {
    background-color: rgb(198,0,33);
    color: black;

}

.link3 {
    border: 2px solid black;
    height: 50px;
    padding: 5px 5px 5px 5px;
    background: rgb(227, 227, 227);
    text-decoration: none;
    color: rgb(198,0,33);
    
}


.link3:hover {
    background-color: rgb(198,0,33);
    color: black;

}

.about-me {
    background: #d6d6d6;
    padding-bottom: 30px;
    margin-top: -20px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.project-header {
    padding-top: 10%;
    background: rgb(202, 202, 202);
    padding-left: 5px;
    padding-right: 5px;
}

.project-description {
    display: flex;
    padding-bottom: 10%;
    background: rgb(202, 202, 202);
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
}

.contact-me{
    background: rgb(182, 182, 182);
    padding-top: 5%;
    padding-left: 5px;
    padding-right: 5px;
}

.contact-form {
    background: rgb(182, 182, 182);
    padding-left: 5px;
    padding-right: 5px;
}
